* {
box-sizing: border-box;
}



body {
    background-color: rgb(90, 93, 93);
}

header {
    position: absolute;
    margin: auto;
    line-height: 30px;
    height: 250px;
    width: 98%;
    text-align: center;
    background-color: rgb(205, 72, 72);
    border-radius: 30%;
    border: 3px solid blue;
    z-index: 10;
}

nav ul {
    position: absolute;
    left: 20px;
    top: 160px;
}

.button-nav {
    display: inline-block;
    padding: 0px 10px;
    border: 2px solid blue;
    background-color: white;
    border-radius: 25%;
}

.button-nav:hover {
    background-color: rgb(36, 147, 212);
    color: white;
}

.title {
    font-family: cursive;
    color: darkblue;
    font-weight: bolder;
}

.profile-picture {
    position: relative;
    border: 3px solid blue;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    left: 370px;
    bottom: 163px;
}

header h1 {
    font-size: 80px;
    
}

.aboutMe {
    position: relative;
    background-color: beige;
    border: 3px solid blue;
    float: left;
    width: 28%;
    height: 100%;
    text-align: center;
    padding: 5px;
    top: 300px;

}

.project {
    position: relative;
    top: 300px;
    flex-wrap: wrap;
    border: 3px solid blue;
    text-align: center;
    float: right;
    width: 70%;
    height: 100%;
    background-color: beige;
}

.project li {
    display: inline-block;
}

.images img { 
    height: 400px;
    width: 90%;
    padding: 10px;
}

.imageTwo img {
    height: 330px;
    width: 350px;
    padding: 5px;
}

.images img:hover {
    border: 4px dotted blue;
}
.imageTwo:hover {
    border: 4px dotted blue;
}
.footer {
    position: relative;
    bottom: 0px;
    background-color: beige;
    width: 28%;
    border: 3px solid blue;
    padding: 5px;
    float: left;  
    top: 320px;  
    text-align: center;
  

}