* {
box-sizing: border-box;
}



body {
    background-color: rgb(90, 93, 93);
}

header {
    margin: auto;
    line-height: 30px;
    height: 250px;
    width: 1200px;
    text-align: center;
    background-color: rgb(205, 72, 72);
    border-radius: 30%;
    border: 3px solid blue;
}

nav ul {
    position: absolute;
    left: 20px;
    top: 160px;
}

.button-nav {
    display: inline-block;
    padding: 0px 10px;
    border: 2px solid blue;
    background-color: white;
    border-radius: 25%;
}

.button-nav:hover {
    background-color: rgb(36, 147, 212);
    color: white;
}

.title {
    font-family: cursive;
    color: darkblue;
    font-weight: bolder;
}

.profile-picture {
    position: absolute;
    border: 3px solid blue;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    left: 870px;
    top: 30px;
}

header h1 {
    font-size: 80px;
    
}

.aboutMe {
    background-color: beige;
    float: left;
    width: 28%;
    height: 100%;
    text-align: center;
    padding: 5px;

}

.project {
    flex-wrap: wrap;
    text-align: center;
    float: right;
    width: 70%;
    height: 100%;
    background-color: beige;
}

.project li {
    display: inline-block;
}

.images img { 
    height: 400px;
    width: 750px;
}

.imageTwo img {
    height: 400px;
    width: 370px;
}

.images img:hover {
    border: 4px dotted blue;
}

.footer {
  

}